main {
  padding: 2rem;
  grid-template-columns: 1fr 32rem;
}
.card_list {
  width: 95%;
  border-radius: 4px;
}
.card_list .sui_btn {
  padding: 5px;
}
.sui_btn i {
  padding-left: 5px;
}
.cart_product_qty {
  position: relative;
}
.cart_product_qty label {
  font-weight: 600;
  position: absolute;
  left: 6px;
}
.cart_product_qty select {
  border-radius: 4px;
  padding: 6px;
  padding-left: 4.5rem;
  border: 2px solid var(--VARIANT-2-DARK1);
  outline: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
.cart_product_qty select:hover {
  background: var(--VARIANT-2-DARK1);
}
.checkout_area {
  padding: 2rem 4rem;
  height: fit-content;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 var(--BLACK-OPACITY-C);
}
.checkout_title {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--STC-BG-IB);
  text-align: center;
}
.checkout_details,
.checkout_total {
  justify-content: space-between;
  padding-top: 1rem;
  font-weight: 500;
}
.checkout_total {
  border-top: 1px solid var(--STC-BG-IB);
  margin-top: 1rem;
  font-weight: 600;
}
.checkout_area .sui_btn {
  margin-top: 2rem;
}
