.product_rating {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--WHITE);
  padding: 2px 10px;
  border-radius: 999px;
  font-size: 1.2rem;
}
.product_rating_good {
  background: var(--VARIANT-2-DARK2);
}
.product_rating_medium {
  background: var(--VARIANT-3-DARK2);
}
.product_rating_bad {
  background: var(--VARIANT-1-DARK2);
}
.card_price,
.card_content_title,
.card_content_desc,
.card_content_seller {
  padding-left: 5px;
}
