main {
  display: grid;
  grid-template-columns: auto 1fr;
}
.filter_area {
  color: black;
  font-size: 1.2rem;
  padding: 0 2rem;
  margin-left: 2rem;
  width: 20rem;
  border-right: 1px solid var(--STC-BG-IB);
  overflow-y: scroll;
}
.filter_title_section {
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.filter_list_section {
  list-style: none;
  padding: 1.5rem 0;
  margin: 0;
  border-top: 1px solid var(--STC-BG-IB);
}
.filter_title_section .sui_btn {
  font-size: 1.2rem;
  padding: 0;
  width: fit-content;
}
.filter_list_section li {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.filter_list_section_title {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5px;
}
.filter_list_section input[type="radio"] {
  vertical-align: middle;
  margin-top: -2px;
}
.filter_list_section input[type="checkbox"] {
  vertical-align: middle;
  margin-top: 0;
}
.sort_slider {
  appearance: none;
  background: var(--STC-PRIMARY-V1);
  border-radius: 8px;
  height: 8px;
}
.sort_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--STC-PRIMARY);
  cursor: pointer;
  border-radius: 50%;
}
.sort_slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--STC-PRIMARY);
  cursor: pointer;
  border-radius: 50%;
}
.sort_slider_label {
  justify-content: space-between;
  font-weight: 500;
}
.product_area {
  padding: 0 2rem;
  align-content: flex-start;
  justify-content: space-around;
}
.product_area .sui_card {
  width: 20rem;
}
.product_area .card_img_wrapper {
  max-height: 15rem;
}
.product_area .card_content_title {
  font-size: 1.4rem;
  max-height: 2rem;
}
.product_area .card_content_seller {
  font-size: 1rem;
}
.product_area .card_price {
  font-size: 1.4rem;
  align-self: flex-start;
}
.product_area .card_price_old {
  opacity: 0.5;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: line-through;
  padding-bottom: 3px;
}
.product_area .sui_btn {
  font-size: 1.2rem;
}
#filter {
  display: none;
  font-size: 2.2rem;
}
@media only screen and (max-width: 600px) {
  main {
    position: relative;
  }
  #filter {
    display: revert;
  }
  .filter_area {
    position: fixed;
    background: var(--STC-BG-BASE);
    width: 100vw;
    height: 100vh;
    top: 5rem;
    padding-top: 2rem;
    z-index: 1;
  }
  .collapsed {
    display: none;
  }
}
