:root {
  --STC-BG-SD: var(--PRIMARY-BG);
  --STC-BG: #f6f7fc;
  --STC-BG-IB: #d0d0d0;
  --STC-BG-BASE: white;

  --STC-TEE-BG: #f8f8f8;

  --STC-DARK: #232228;
  --STC-DARK-L: #bdbdbf;

  --STC-PRIMARY: #7f73e3;
  --STC-PRIMARY-V1: #d2c7ff;

  --STC-PINK: #f6c6fa;

  --RED: red;
  --GREEN: green;
  --GRAY: gray;
  --YELLOW: #ed9f3a;
  --ORANGE: #f45b19;

  --MAX-WIDTH: 100vw;
}
.stc_red_icon {
  color: var(--RED);
}
.stc_green {
  background: var(--GREEN);
}
.stc_green_icon {
  color: var(--GREEN);
}
.stc_yellow {
  background: var(--YELLOW);
}
.stc_yellow_icon {
  color: var(--YELLOW);
}
.stc_orange {
  background: var(--ORANGE);
}
.stc_orange_icon {
  color: var(--ORANGE);
}
.stc_primary {
  background: var(--PRIMARY-P1);
}
.stc_primary_icon {
  color: var(--PRIMARY-P1);
}
.stc_secondary {
  background: var(--STC-DARK);
}
.stc_secondary_icon {
  color: var(--STC-DARK);
}
.sui_card:hover {
  box-shadow: 0 0 4px 0 var(--STC-DARK);
}
